@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
    --cor-principal: #051d3b;
    --cor-texto: #fff;
    --botao-escuro: #5081fb14;
    --botao-claro: #5081fb;
    --icone: rgba(80, 129, 251, 0.16);
    --icone-ativo: #5081fb;
    --input-color: rgba(255, 255, 255, 0.16);
}

* {
    box-sizing: border-box;
}

body {
    background: var(--cor-principal);
    color: var(--cor-texto);
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
    color: var(--cor-texto);
}

.titulo-padrao {
    font-weight: 400;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}

.cabecalho {
    padding: 24px 32px;
}

.cabecalho .logo img {
    max-width: 145px;
}

.cabecalho .pesquisar {
    background: var(--input-color);
    border: none;
    color: var(--cor-texto);
    width: 100%;
}

.cabecalho .usuario img {
    border-radius: 50%;
    width: 50px;
}

.menu {
    padding-left: 42px;
}

.menu a .icone {
    width: 48px;
    height: 48px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--icone);
}

.menu a .icone.ativado {
    background-color: var(--icone-ativo);
}

.formulario .input-formulario {
    background: var(--input-color);
    border: none;
    color: var(--cor-texto);
    border-radius: 8px;
}

.formulario .select-padrao {
    background: var(--input-color);
    border: none;
    color: rgba(255, 255, 255, 0.9);
}

.formulario .select-padrao option {
    background: var(--input-color);
    color: black;
}

.formulario .input-color {
    height: 40px;
}

.formulario .btn-submit {
    background: #5081fb;
    color: #051d3b;
    width: 100%;
}

.editor {
    background: #6bd1ff;
    padding: 30px;
    border-radius: 10px;
}

.editor .icones {
    background: black;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-top: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.editor .icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 50px;
}

.editor .icon.vermelho {
    background-color: red;
}

.editor .icon.amarelo {
    background-color: yellow;
}

.editor .icon.verde {
    background-color: green;
}

.editor .editor-texto {
    width: 100%;
    background: black;
    color: #fff;
    border: none;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    padding: 20px;
}

.editor .editor-texto:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.highlight {
    width: 100%;
    margin-top: 30px;
    background: #5081fb14;
    color: var(--cor-texto);
}

.highlight:hover {
    color: var(--cor-texto);
}
