@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
    --cor-principal: #051d3b;
    --cor-texto: #fff;
    --botao-escuro: #5081fb14;
    --botao-claro: #5081fb;
    --icone: rgba(80, 129, 251, 0.16);
    --icone-ativo: #5081fb;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--cor-principal);
    color: var(--cor-texto);
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
    color: var(--cor-texto);
}

.cabecalho {
    padding: 24px 32px;
}

.cabecalho .logo img {
    max-width: 145px;
}

.cabecalho .pesquisar {
    background: rgba(255, 255, 255, 0.16);
    border: none;
    color: var(--cor-texto);
}

.usuario img {
    border-radius: 50%;
    width: 50px;
}

.menu {
    padding-left: 42px;
}

.menu p {
    font-weight: 400;
    letter-spacing: 0.4em;
}

.menu a .icone {
    width: 48px;
    height: 48px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--icone);
}

.menu a .icone.ativado {
    background-color: var(--icone-ativo);
}
